*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.root {
  position: relative;
}
.home {
  padding: 20px 10px;
  position: relative;
}

.grayBg {
  background-color: #e0e0e0;
}

.side-content {
  position: absolute;
  top: 20px;
  right: 70px;
}
